<!DOCTYPE html>
<html lang="en">
  	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Refergap is a viral and referral marketing platform to launch ranking competitions, sweepstakes, pre-launch and referral programs.">
		<meta property="og:type" content="referral" />
		<meta property="og:title" content="Refergap" />
		<meta property="og:description" content="Refergap is a viral and referral marketing platform to launch ranking competitions, sweepstakes, pre-launch and referral programs." />
		<meta property="og:site_name" content="Refergap" />
		<meta property="og:image" content="http://refergap.com/images/logo.png" />
		<meta property="og:image:width" content="512" />
		<meta property="og:image:height" content="512" />
		<meta name="twitter:text:title" content="Refergap" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:description" content="Visit the post for more." />

		<link href="http://refergap.com/favicon.ico" rel="icon" sizes="32x32" />
		<link href="/favicon.ico" rel="shortcut icon" type="image/ico" />
		<link href="http://refergap.com/favicon.ico" rel="shortcut icon" type="image/ico" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Latest compiled and minified CSS -->

		<meta name="author" content="DevGap Crew">

		<title>ReferGap</title>

		<!-- Bootstrap core CSS -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<!-- jQuery library -->

		<!-- Latest compiled JavaScript -->
		<script src="js/custom.js"></script>
  	</head>
  <body id="page-id-5" class="ReFerGap-our-integration">
    <div class="main-wrapper">
       <!-- #Tob_bar -->
      	<app-header></app-header>
	    <app-main-header></app-main-header>
      <!-- Page Content -->
      	<div id="Content" class="main-page-container">
	        <section id="RG-content-1" class="content-section-middle-top">
	          	<div class="camp-templ">
		            <div class="container">
			            <div class="row">
			                <div class="col-sm-3"></div>
			                <div class="col-sm-6">
			                  <div class="cont-sec-ref">
			                    <h2 class="temp-title">
			                      ReFerGap Works Perfectly
											  With Tools
			                    </h2>
			                    <p>
			                      Run your referral campaigns. We've prepared for you campaign templates inspired by great companies, like Dropbox, Gilt and Harry`s. Just plug and play
			                    </p>
			                    <a href="#" class="btn-get-started">GET STARTED</a>
			                  </div>  
			                </div>
			                <div class="col-sm-3"></div>
			            </div>
		              	<div class="row">
		                	<div class="divider-sec"></div>
		                </div>
			            <div class="row">
			                <div class="col-sm-6">
				                <div id="rg-box-tool-1" class="box-sec-tool">
				                	<div class="align-img-middle">
				                		<img src="../assets/color-bg/woocommerce.png" alt="woocommerce">    
				                	</div>	
				                </div>
				                <div class="box-sec-tool-des">				                  	
				                    <p>Lorem ipsum dolor sit amet, debitis percipit an pro, mei duis vocent invenire</p>
				                    <a href="#">Read More <i class="fas fa-caret-right"></i></a>
				                </div>
			                </div>
			                <div class="col-sm-6">
				                <div id="rg-box-tool-2" class="box-sec-tool">
				                	<div class="align-img-middle">
				                    	<img src="../assets/color-bg/prestashop.png" alt="prestashop">
				                    </div>	
				                </div>	
				                <div class="box-sec-tool-des">				                  	
				                    <p>Lorem ipsum dolor sit amet, debitis percipit an pro, mei duis vocent invenire</p>
				                    <a href="#">Read More <i class="fas fa-caret-right"></i></a>
				                </div>		                  	
			                </div>
			            </div>
			            <div class="row">    
			                <div class="col-sm-6">
				                <div id="rg-box-tool-3" class="box-sec-tool">
				                	<div class="align-img-middle">
				                		<img src="../assets/color-bg/opencart.png" alt="opencart">    
				                	</div>	
				                </div>
				                <div class="box-sec-tool-des">				                  	
				                    <p>Lorem ipsum dolor sit amet, debitis percipit an pro, mei duis vocent invenire</p>
				                    <a href="#">Read More <i class="fas fa-caret-right"></i></a>
				                </div>		                  	
			                </div>
			                <div class="col-sm-6">
				                <div id="rg-box-tool-3" class="box-sec-tool">
				                	<div class="align-img-middle">
				               			<img src="../assets/color-bg/magento.png" alt="magento">     
				               		</div>	
				                </div>
				                <div class="box-sec-tool-des">				                  	
				                    <p>Lorem ipsum dolor sit amet, debitis percipit an pro, mei duis vocent invenire</p>
				                    <a href="#">Read More <i class="fas fa-caret-right"></i></a>
				                </div>		                  	
			                </div>
			            </div>
		            </div>
	            </div>
	        </section>
      	</div>  
      <!-- Footer --->
      	<app-footer></app-footer>
    </div>  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
