<footer style="text-align:center" id="Footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <p>© 2018 All rights reserved.  ReferGap is a product of FilGap Ltd </p>
      </div>
      <div class="col-sm-3">
        <div class="social-container">
          <ul class="social-links">
            <li class="social-link"><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li class="social-link"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="social-link"><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
