<section id="RG-content-4" class="content-section-middle-bottom">
  <div class="refer-sign-up">
    <div class="container">
      <div class="row">
        <div class="divider-sec"></div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="cont-sign-up-ref">
            <h2 class="temp-title">
             Sign Up
            </h2>
            <p>
              Lorem ipsum dolor sit amet, in erat moderatius est, mea te consetetur contentiones. Vis laboramus percipitur disputationi ea, qui inani contentiones ut. Iusto veniam nullam ut sit, mea ex ceteroLorem ipsum dolor sit amet, in erat moderatius est, mea te consetetur contentiones. Vis laboramus percipitur disputationi ea
            </p>
            <a href="/signup" class="btn-get-started">GET STARTED</a>

          </div>  
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="divider-sec"></div>
      </div>
    </div>
  </div>
</section>