<form class="well form-horizontal" action=" " method="post"  id="contact_form">
    <fieldset>				
      <!-- Select Basic -->
      <!-- Success message -->
      <div class="form-group" style="white-space: nowrap;margin-left:30%">
        <div class="row">
          <div class="col-md-4">
             <button type="submit" class="btn-try-it-free"> Previous </button>
          </div>
          <div class="col-md-4">
              <button type="submit" class="btn-try-it-free"> Next </button>
           </div>
      </div>
    </div>
    </fieldset>
  </form>