<div id='border-main'>
  <div  style="text-align: center;padding:0 20%;">
    <h3>Hi Lorem</h3>
    skvhkjssbvsvksbvsvhshvsvsvbsbvsvshvbvshvbsvhhfkfkwhhwk hwfhkfhwkfhfg
    gsgkshgshgsghshgkjsghsjkgksskgsskgksgksgskskgksskgskgkshshglieughl auhif aenilh
    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
        <fieldset>
            <div class="form-group">
                <div class="col-md-12" style="white-space:nowrap;" style="text-align: center;">
                   <button style="width:40%;background-color: orangered" class="btn-try-it-free"> Invite Your Friend </button>
                </div>
            </div>
          </fieldset>
          </form><br><br><br>
          <form class="well form-horizontal" action=" " method="post"  id="contact_form">
              <fieldset>
                  <div class="form-group">
                    <h2 style="background-color: grey;text-align: center;">Send test Email</h2>
                    <div class="col-md-12 inputGroupContainer">
                        <div class="input-group">
                          <input name="user_password" placeholder="Email" class="form-control"  type="text">
                        </div>
                      </div>
                      <div class="col-md-12" style="white-space:nowrap;" style="text-align: center;">
                         <button style="width:40%;background-color: orangered" class="btn-try-it-free">Send</button>
                      </div>
                  </div>
                </fieldset>
                </form>
  </div>
  
  
</div>