<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Refergap is a viral and referral marketing platform to launch ranking competitions, sweepstakes, pre-launch and referral programs.">
      <meta property="og:type" content="referral" />
      <meta property="og:title" content="Refergap" />
      <meta property="og:description" content="Refergap is a viral and referral marketing platform to launch ranking competitions, sweepstakes, pre-launch and referral programs." />
      <meta property="og:site_name" content="Refergap" />
      <meta property="og:image" content="../assets/logo.png" />
      <meta property="og:image:width" content="512" />
      <meta property="og:image:height" content="512" />
      <meta name="twitter:text:title" content="Refergap" />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:description" content="Visit the post for more." />

      <link href="http://refergap.com/favicon.ico" rel="icon" sizes="32x32" />
      <link href="/favicon.ico" rel="shortcut icon" type="image/ico" />
      <link href="http://refergap.com/favicon.ico" rel="shortcut icon" type="image/ico" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Latest compiled and minified CSS -->

      <meta name="author" content="DevGap Crew">

      <title>ReferGap | Sign Up</title>

      <!-- Bootstrap core CSS -->
      <!-- Latest compiled and minified CSS -->
      <!-- jQuery library -->
      <!-- Latest compiled JavaScript -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
      <script src="js/custom.js"></script>

  </head>
  <body id="page-id-4" class="ReFerGap-login">
    <div class="main-wrapper">
	    <header class="main-header">
	        <!-- Navigation -->
	        <div id="Banner-sec">
	          <div class="container">
	            <div class="row">
	              	<div class="col-sm-4"></div>
	              	<div class="col-sm-4">
					   	<div class="divider-sec"></div>												
		                <div class="banner-content">
		                	<div class="row">
		                		<div class="col-sm-12">
		                			<div class="logo-sectiom">
	                    				<a class="navbar-brand" href="#"><img src="../assets/Logo.png" alt="Refergap" /></a>               
		                			</div>
		                		</div>
		                	</div>		                    
		                    <div class="row">
		                    	<form class="well form-horizontal" method="post"  id="contact_form">
									<fieldset>
										<div class="form-inner">
											<!-- Form Name -->
											<div class="form-group">
												<label class="col-md-12 control-label">Username or Email</label>  
												<div class="col-md-12 inputGroupContainer">
												    <div class="input-group">
													    <input  name="user_name" placeholder="Username" class="form-control"  type="text">
													</div>
												</div>
											</div>										
											<!-- Text input-->
											<div class="form-group">
											    <label class="col-md-12 control-label" >Password</label> 
											    <div class="col-md-12 inputGroupContainer">
												    <div class="input-group">
												    	<input name="user_password" placeholder="Password" class="form-control"  type="password">
												    </div>
											  	</div>
											</div>													
										</div>						
										<!-- Select Basic -->
										<!-- Success message -->
										<div class="alert alert-success" role="alert" id="success_message">Success <i class="fas fa-thumbs-up"></i> Success!.</div>
										 <p>
					                      By signing-up you agree to our <a href="#"> Terms & Conditions</a>
					                    </p>
										<!-- Button -->
										<div class="form-group">
										    <div class="col-md-12">
										     	<button (click)="goto('stepintegration')" type="submit" class="btn-try-it-free" > Login </button>
										    </div>
										</div>
									</fieldset>
								</form>
							</div>
		                    <div class="row">
								<div class="col-sm-12">
									<div class="last-log">
										<p> <a href="#">FORGOT PASSWORD? </a></p>
										<p>  Don't have an account?  <a href="/signup"> CREATE AN ACCOUNT</a></p>
									</div>
								</div>	
							</div>		                    
		                </div>
					   	<div class="divider-sec"></div>												
		            </div>
	              <div class="col-sm-4"></div>
	            </div>
	          </div>
	        </div>
	    </header>
      <!-- Page Content -->
      	<div id="Content" class="main-page-container">
	    </div>    
      <!-- Footer --->
      <app-footer></app-footer>
    </div>  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
