<body id="page-id-2" class="ReFerGap-how-it-works">
    <div class="main-wrapper">
      <app-loggedheader></app-loggedheader>
      <div class='row' style="margin-top:2em;">
          <div class="col-sm-6" style="width:20%;">
              <form class="well form-horizontal" action=" " method="post"  id="contact_form">
                    <fieldset>
                      <div class="form-inner">
                        <!-- Form Name -->
                        <div class="form-group">
                          <label class="col-md-12 control-label">Information Message</label>
                          <div class="col-md-12 inputGroupContainer">
                              <div class="input-group">
                                <input  name="user_name" placeholder="Invite Your Friends" class="form-control"  type="text">
                            </div>
                          </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-12 control-label" >Pending Reward Label</label>
                            <div class="col-md-12 inputGroupContainer">
                              <div class="input-group">
                                <input name="user_password" placeholder="Join our campaign" class="form-control"  type="text">
                              </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label">Text Displayed when no rewards added</label>
                            <div class="col-md-12 inputGroupContainer">
                                <div class="input-group">
                                  <input  name="user_name" placeholder="Invite Your Friends" class="form-control"  type="text">
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-12" style="white-space:nowrap;">
                            <button style="background-color: transparent;width:40%;color:grey;" class="btn-try-it-free"> Cancel </button>
                             <button style="width:40%;" class="btn-try-it-free"> Save </button>
                          </div>
                      </div>
                      <!-- Select Basic -->
                      <!-- Success message -->
                      <div class="alert alert-success" role="alert" id="success_message">Success <i class="fas fa-thumbs-up"></i> Success!.</div>
                       <p>
                                  By signing-up you agree to our <a href="#"> Terms & Conditions</a>
                                </p>
                      <!-- Button -->
                    </fieldset>
                  </form>

          </div>
          <div class="col-sm-6">
              <app-in-app-rright style="margin:12%;"></app-in-app-rright>
            </div>
        </div>
      </div>
      </body>
