<div class="row" style="text-align: center;">
    <div class="col-sm-3" style="width:40%;margin-left:13%;">
    <form class="well form-horizontal" action=" " method="post"  id="contact_form" style="width:65%;margin-left:3%;">
        <fieldset (click)="goto('ecommercereferal')">
         <div class="form-inner" style="text-color:white;;background: linear-gradient(to right,red,orangered)">
            <h3 style="text-color:white;">The Ecommerce Referal</h3><br>
            <h5 style="text-color:white;">kshfhkjffhksfkfkfkjffkjffw
              ffjwbfwkfewkfwjfekweef
            </h5>
            Inspired by gilt
          </div>						
        </fieldset>
      </form>
      </div>
    
      <div class="col-sm-3">
          <form class="well form-horizontal" action=" " method="post"  id="contact_form" style="width:65%;margin-left:3%;">
              <fieldset (click)="goto('friendreferal')">
                <div class="form-inner" style="text-color:white;;background: linear-gradient(to right,red,orangered)">
                  <h3 style="text-color:white;">Refer a Friend</h3><br>
                  <h5 style="text-color:white;">kshfhkjffhksfkfkfkjffkjffw
                    ffjwbfwkfewkfwjfekweef
                  </h5>
                  Inspired by gilt
                </div>						
              </fieldset>
            </form>
            </div>
            <div class="col-sm-3">
                <form class="well form-horizontal" action=" " method="post"  id="contact_form" style="width:65%;margin-left:3%;">
                    <fieldset (click)="goto('milestonereferal')">
                      <div class="form-inner" style="text-color:white;;background: linear-gradient(to right,red,orangered)">
                        <h3 style="text-color:white;">The Milestone Referal</h3><br>
                        <h5 style="text-color:white;">kshfhkjffhksfkfkfkjffkjffw
                          ffjwbfwkfewkfwjfekweef
                        </h5>
                        Inspired by gilt
                      </div>						
                    </fieldset>
                  </form>
                  </div>
      </div>