<div class="row">
<div class="col-sm-4" style="width:40%;margin-left:25%;">
<form class="well form-horizontal" action=" " method="post"  id="contact_form" style="width:65%;margin-left:3%;">
    <fieldset>
      <div class="form-inner">
        <!-- Form Name -->
        <div class="form-group">
          <label class="col-md-12 control-label">Name your Campaign</label>  
          <div class="col-md-12 inputGroupContainer">
              <div class="input-group">
                <input  name="user_name" placeholder="Campaign" class="form-control"  type="text">
            </div>
          </div>
        </div>										
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-12 control-label" >URL</label> 
            <div class="col-md-12 inputGroupContainer">
              <div class="input-group">
                <input name="user_password" placeholder="Enter your url" class="form-control"  type="password">
              </div>
            </div>
        </div>													
      </div>						
      <!-- Select Basic -->
      <!-- Success message -->
    </fieldset>
  </form>
  </div>

  <div class="col-sm-5" style="width:40%;">
  <form class="well form-horizontal" action=" " method="post"  id="contact_form" style="width:65%;margin:2%;">
      <fieldset>
        <div class="form-inner">
          <!-- Form Name -->
          <div class="form-group">
            <label class="col-md-12 control-label">Name your Campaign</label>  
            <div class="col-md-12 inputGroupContainer">
                <form action="">
                  <input id='e1' (click)="clicked('e1')" type="radio" name="gender" value="male"> Modern
                  <input id='e2' (click)="clicked('e2')" type="radio" name="gender" value="female"> Classic<br><br><br>
                  <input type='checkbox'>
                    I'll use ReferGAp Pages<br><br>
                    <h6>lorem ihhd dshbhddd s dhusbubusyd</h6>
                </form>
            </div>
          </div>										
          <!-- Text input-->											
        </div>						
        <!-- Select Basic -->
        <!-- Success message -->
      </fieldset>
    </form>
    </div>
  </div>