<div id="Content" class="main-page-container">
    <div class="row" style="margin-left:20%;">
        <div class="" style="padding-right:5%;">
          <div id="rg-box-tool-1" class="box-sec-tool">
            <div class="align-img-middle">
              <img src="../assets/color-bg/woocommerce.png" alt="woocommerce">    
            </div>	
          </div>
          <div class="box-sec-tool-des">				                  	
              <p>Lorem ipsum dolor sit amet, debitis percipit an pro, mei duis vocent invenire</p>
              <a href="#">Read More <i class="fas fa-caret-right"></i></a>
          </div>
        </div>
        <div class="" style="padding-right:5%;">
          <div id="rg-box-tool-2" class="box-sec-tool">
            <div class="align-img-middle">
                <img src="../assets/color-bg/prestashop.png" alt="prestashop">
              </div>	
          </div>	
          <div class="box-sec-tool-des">				                  	
              <p>Lorem ipsum dolor sit amet, debitis percipit an pro, mei duis vocent invenire</p>
              <a href="#">Read More <i class="fas fa-caret-right"></i></a>
          </div>		                  	
        </div>
        <div class="" style="padding-right:5%;">
            <div id="rg-box-tool-3" class="box-sec-tool">
              <div class="align-img-middle">
                <img src="../assets/color-bg/opencart.png" alt="opencart">    
              </div>	
            </div>
            <div class="box-sec-tool-des">				                  	
                <p>Lorem ipsum dolor sit amet, debitis percipit an pro, mei duis vocent invenire</p>
                <a href="#">Read More <i class="fas fa-caret-right"></i></a>
            </div>		                  	
          </div>
          <div class="" style="padding-right:5%;">
            <div id="rg-box-tool-3" class="box-sec-tool">
              <div class="align-img-middle">
                 <img src="../assets/color-bg/magento.png" alt="magento">     
               </div>	
            </div>
            <div class="box-sec-tool-des">				                  	
                <p>Lorem ipsum dolor sit amet, debitis percipit an pro, mei duis vocent invenire</p>
                <a href="#">Read More <i class="fas fa-caret-right"></i></a>
            </div>		                  	
          </div>
    </div>
</div>