  
<div style="border-top:1px solid grey;text-align: center;">
    <h1>Testimonial</h1><br><br>
  <div class='row'>
    <div class="col-sm-6">
        <h6 style="color:grey;">
          skcwkbwibwifhwifhififhifhiffihffihriiiiiiiiiifiwhfhihfu urh uh i y y eheiufheuih f  fofnwejf ewufhiwbhifwhbiwhebffihewbhi
          jhgfiehrfbbbbbbbbbb irhhuh r hufhhfuf rfhiufhfefuh uheuh eh e
        </h6>
      <img style="height:90px;width:90px;border-radius: 50%;" src="../assets/person.png">John
    </div>
    <div class="col-sm-6">
        <h6 style="color:grey;">
          skcwkbwibwifhwifhififhifhiffihffihriiiiiiiiiifiwhfhihfu urh uh i y y eheiufheuih f  fofnwejf ewufhiwbhifwhbiwhebffihewbhi
          jhgfiehrfbbbbbbbbbb irhhuh r hufhhfuf rfhiufhfefuh uheuh eh e
        </h6>
      <img style="height:90px;width:90px;border-radius: 50%;" src="../assets/person.png">John
    </div>
  </div>
</div>