<form class="well form-horizontal" action=" " method="post"  id="contact_form">
    <fieldset>
      <div class='form'>
    <div class="col-sm-6">
      <div id="rg-box-tool-1" class="box-sec-tool">
        <div >
        <button>Edit</button>
        Invite Email
        <label class="switch">
            <input style="font-size:100px;" type="checkbox">
            <span class="slider round"></span>
          </label>
      </div>
    </div>
    </div>
    <div class="col-sm-16">
        <div id="rg-box-tool-3" class="box-sec-tool">
            <div>
                <button>Edit</button>
                Organic signup Email
                <label class="switch">
                    <input style="font-size:100px;" type="checkbox">
                    <span class="slider round"></span>
                  </label>
              </div>
        </div>	                  	
      </div>
</div>
<div class="row">    
    <div class="col-sm-2">
      <div id="rg-box-tool-3" class="box-sec-tool">
          <div>
              <button>Edit</button>
              Successful Referal Email
              <label class="switch">
                  <input style="font-size:100px;" type="checkbox">
                  <span class="slider round"></span>
                </label>
            </div>
      </div>                	
    </div>
</div>
</fieldset>
</form>