
  <div class='row' >
    <div class='col-sm-6'style="padding-left:12%;border-radius:10%;">
      <img height="150px" src="../assets/facebook.jpeg">
    </div>
    <div class='col-sm-6'style="border-radius:10%;padding-top:2%;">
        <img height="78px" src="../assets/tweet.png">
      </div>
      <div class='row' >
          <div class='col-sm-6'style="padding-left:12%;border-radius:10%;">
            <img height="150px" src="../assets/facebook.jpeg">
          </div>
          <div class='col-sm-6'style="border-radius:10%;padding-top:2%;">
              <img height="78px" src="../assets/messanger.jpeg">
            </div>
      </div>
