<body id="page-id-2" class="ReFerGap-how-it-works">
    <div class="main-wrapper">
       <!-- #Tob_bar -->
		<app-header></app-header>
		<!-- Start: .main-header -->
      	<app-main-header2></app-main-header2>
      	<!-- End: .main-header -->
        <!-- Start: #Content -->
        
		<div id="Content" class="main-page-container">
			<section id="RG-content-1" class="content-section-top">
				<div class="refer-sec">
				    <div class="container-fluid">
              <div style="margin-top:2em;margin-left:30%;">
                 <div class="col-sm-6">
					          <div class="cont-sec-ref">
					            <h2 class="temp-title">
					              Refer a Friend 
					            </h2>
					          </div>  
					        </div><br>
				      	<div class="row">
                    <div class="col-sm-6" style="padding-right: 0px">
                        <div id="refer-sec-right" style="margin-left:5%;">
                            <img src="../assets/macbook.png">
                        </div>
                      </div>
                </div>
              </div>
				        <div class="row">
				        	<div class="divider-sec" style="padding: 14px;"></div>
				      	</div>
				        <div class="row">
					        <div class="col-sm-6">
					            <div id="refr-a-fren" class="box-sec-2">
					            	<h5>Choose Your Rewards</h5>
						            <p> Lorem ipsum dolor sit amet, eu est conceptam adipiscing, ut eos nusquam consequuntur. Ius ullum decore electram eu. Ea sea u est conceptam adipiscin </p>					           
					            </div>
					        </div>
					        <div class="col-sm-6" style="padding-right: 0px">
						        <div id="refer-sec-right">
						            <img src="../assets/macbook.png" align="right">
						        </div>
					        </div>
				      	</div>
			    	</div>
			 	</div>
			</section>
			<section  id="RG-content-2" class="content-section-middle-top">
				<div class="refer-sec">
				    <div  class="container-fluid">
				        <div  class="row">
					        <div class="col-sm-6" style="padding-right: 0px">
						        <div id="refer-sec-right">
						            <img src="../assets/page.png" align="right">
						        </div>
					        </div>
					        <div  class="col-sm-6">
					            <div id="refr-a-fren" class="box-sec-2">
					            	<h5>Set Up Your Theme</h5>
						            <p> Ea sea perfecto electram voluptatibus. Eum ut commodo atomorum signiferumque. In per invidunt iracundia euripidis, abhorreant disputationi ea est. Et vix reque disputationi consequuntur, et euismod omittam usu. </p>					           
					            </div>
					        </div>					        
				      	</div>
			    	</div>
			 	</div>
			</section>
			<section style="border-top: 3px solid black;" id="RG-content-5" class="content-section-last-top">
				<app-prefooter></app-prefooter>
			</section>
		</div>  <!-- End: #Content -->
        <!-- Footer --->
       <app-footer></app-footer>
    </div>  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>