<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <base href = "http://dev.refergap.com/" />
      <meta name="description" content="Refergap is a viral and referral marketing platform to launch ranking competitions, sweepstakes, pre-launch and referral programs.">
      <meta property="og:type" content="referral" />
      <meta property="og:title" content="Refergap" />
      <meta property="og:description" content="Refergap is a viral and referral marketing platform to launch ranking competitions, sweepstakes, pre-launch and referral programs." />
      <meta property="og:site_name" content="Refergap" />
      <meta property="og:image" content="http://refergap.com/images/logo.png" />
      <meta property="og:image:width" content="512" />
      <meta property="og:image:height" content="512" />
      <meta name="twitter:text:title" content="Refergap" />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:description" content="Visit the post for more." />

      <link href="http://refergap.com/favicon.ico" rel="icon" sizes="32x32" />
      <link href="/favicon.ico" rel="shortcut icon" type="image/ico" />
      <link href="http://refergap.com/favicon.ico" rel="shortcut icon" type="image/ico" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Latest compiled and minified CSS -->

      <meta name="author" content="DevGap Crew">

      <title>ReferGap</title>

      <!-- Bootstrap core CSS -->
      <!-- Latest compiled and minified CSS -->
      <!-- jQuery library -->
      <!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->
      <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <!-- <script src="js/custom.js"></script> -->

  </head>
  <body id="page-id-1" class="ReFerGap-main-landing">
    <div class="main-wrapper">
       <!-- #Tob_bar -->

      <app-header></app-header>
      <app-main-header></app-main-header>
      <!-- Page Content -->
      <div id="Content" class="main-page-container">
        <section id="RG-content-1" class="content-section-top">
          <div class="platform-work">
            <div class="container">
              <div class="row">
                  <div class="col-sm-3 text-left">
                    <div class="platform-txt">
                      <p>
                        ReFerGap Works Perfectly<br/> With Tools
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-9 text-center">
                    <div class="platform-img">
                      <ul class="platform-list">
                        <li class="platform-img-item"><a href=""><img src="../assets//woocommerce.png"></a></li>
                        <li class="platform-img-item"><a href=""><img src="../assets/prestashop.png"></a></li>
                        <li class="platform-img-item"><a href=""><img src="../assets/opencert.png"></a></li>                      
                        <li class="platform-img-item"><a href=""><img src="../assets/Magento.png"></a></li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>  
          </div>
        </section>
        <section id="RG-content-2" class="content-section-middle-top">
          <div class="camp-templ">
            <div class="container">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <div class="cont-sec-ref">
                    <h2 class="temp-title">
                      Simple Campaign Templates
                    </h2>

                    <p>
                      Run your referral campaigns. We've prepared for you campaign templates inspired by great companies, like Dropbox, Gilt and Harry`s. Just plug and play
                    </p>
                    <a href="#" class="btn-get-started">GET STARTED</a>
                  </div>  
                </div>
                <div class="col-sm-3"></div>
              </div>
              <div class="row">
                <div class="divider-sec"></div>
              </div>
              <div class="row">
                <div (click)="goto('ecommercereferal')" class="col-sm-4">
                  <div id="rg-box-1" class="box-sec">
                    <h5>The eCommerce Referral</h5>
                    <p>debitis percipit an pro, mei duis vocent invenire</p>
                    <a href="#">inspired by Gilt</a>
                  </div>
                </div>
                <div (click)="goto('friendreferal')" class="col-sm-4">
                  <div id="rg-box-2" class="box-sec">
                    <h5>Refer a Friend</h5>
                    <p>Lorem ipsum dolor sit amet, debitis percipit an pro, mei duis vocent invenire</p>
                    <a href="#">inspired by Dropbox</a>
                  </div>
                </div>
                <div (click)="goto('milestonereferal')" class="col-sm-4">
                  <div id="rg-box-3" class="box-sec">
                    <h5>The Milestone Referral</h5>
                    <p>debitis percipit an pro, mei duis vocent invenire</p>
                    <a href="#">inspired by Harry's</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="RG-content-3" class="content-section-middle-mid">
          <div class="refer-sec">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <div class="cont-sec-ref">
                    <h2 class="temp-title">
                      Refer a Freind
                    </h2>
                  </div>  
                </div>
                <div class="col-sm-3"></div>
              </div>
              <div class="row">
                <div class="divider-sec" style="padding: 14px;"></div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div id="refr-a-fren" class="box-sec-2">
                    <p> Referral Template inspired by DropBox 
                        The all-time classic referral program for your company </p><p>
                        Build virality in your product like DropBox did and accelerate your growth. Your users can invite their friends to sign up</p>
                  </div>
                </div>
                <div class="col-sm-6" style="padding-right: 0px">
                  <div id="refer-sec-right">
                    <img src="../assets/left-img.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

       <app-prefooter></app-prefooter>
      </div>  
      <!-- Footer -- -->
      <app-footer></app-footer>
    </div>  
   <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script src="js/common.js"></script>
    <script src="js/bundle.js"></script>
    <script src="js/custom-react.js" type="text/babel"></script>

  </body>

</html>
