
<form class="well form-horizontal" action=" " method="post"  id="contact_form">
    
    <fieldset [hidden]='hideformstate'>
        <h2 style="text-align: center;">Invite Your Friend</h2>
      <div class="form-inner">
        <!-- Form Name -->
        <div class="form-group">
          <label class="col-md-12 control-label" style="text-align:center">Firstname</label>  
          <div class="col-md-12 inputGroupContainer">
              <div class="input-group">
                <input style="text-align:center"  name="user_name" placeholder="firstname" class="form-control"  type="text">
            </div>
          </div>
        </div>										
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-12 control-label" style="text-align:center"  >Lastname</label> 
            <div class="col-md-12 inputGroupContainer">
              <div class="input-group">
                <input style="text-align:center" name="user_password" placeholder="last name" class="form-control"  type="text">
              </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12 control-label" style="text-align:center"  >Emailaddress</label> 
            <div class="col-md-12 inputGroupContainer">
              <div class="input-group">
                <input style="text-align:center"  name="user_password" placeholder="emailaddress" class="form-control"  type="text">
              </div>
            </div>
        </div>	
      </div>						
     
      <div class="form-group">
          <div class="col-md-12" style="text-align: center;">
             <button type="submit" class="btn-try-it-free" > Start Invite </button>
             <div style="text-align:center;">
                <button style="margin-right:10%;">Invite</button>
                <button>Rewards</button>
              </div>
          </div>
        </div>
    </fieldset>
    </form>