<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Refergap is a viral and referral marketing platform to launch ranking competitions, sweepstakes, pre-launch and referral programs.">
	<meta property="og:type" content="referral" />
	<meta property="og:title" content="Refergap" />
	<meta property="og:description" content="Refergap is a viral and referral marketing platform to launch ranking competitions, sweepstakes, pre-launch and referral programs." />
	<meta property="og:site_name" content="Refergap" />
	<meta property="og:image" content="http://refergap.com/images/logo.png" />
	<meta property="og:image:width" content="512" />
	<meta property="og:image:height" content="512" />
	<meta name="twitter:text:title" content="Refergap" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="Visit the post for more." />

	<link href="http://refergap.com/favicon.ico" rel="icon" sizes="32x32" />
	<link href="/favicon.ico" rel="shortcut icon" type="image/ico" />
	<link href="http://refergap.com/favicon.ico" rel="shortcut icon" type="image/ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Latest compiled and minified CSS -->

	<meta name="author" content="DevGap Crew">

	<title>ReferGap</title>

	<!-- Bootstrap core CSS -->
	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	
	<!-- jQuery library -->

	<!-- Latest compiled JavaScript -->
	<script src="js/custom.js"></script>

  </head>
  <body id="page-id-2" class="ReFerGap-how-it-works">
    <div class="main-wrapper">
       <!-- #Tob_bar -->
		<app-header></app-header>
		<!-- Start: .main-header -->
      	<app-main-header2></app-main-header2>
      	<!-- End: .main-header -->
      	<!-- Start: #Content -->
		<div id="Content" class="main-page-container">
			<section id="RG-content-1" class="content-section-top">
				<div class="refer-sec">
				    <div class="container-fluid">
				       	<div class="divider-sec" style="padding: 24px;"></div>

				      	<div class="row">
				        	<div class="col-sm-3"></div>
					        <div class="col-sm-6">
					          <div class="cont-sec-ref">
					            <h2 class="temp-title">
					              Refer a Friend 
					            </h2>
					          </div>  
					        </div>
				        	<div class="col-sm-3"></div>
				        </div>
				        <div class="row">
				        	<div class="divider-sec" style="padding: 14px;"></div>
				      	</div>
				        <div class="row">
					        <div class="col-sm-6">
					            <div id="refr-a-fren" class="box-sec-2">
					            	<h5>Choose Your Rewards</h5>
						            <p> Lorem ipsum dolor sit amet, eu est conceptam adipiscing, ut eos nusquam consequuntur. Ius ullum decore electram eu. Ea sea u est conceptam adipiscin </p>					           
					            </div>
					        </div>
					        <div class="col-sm-6" style="padding-right: 0px">
						        <div id="refer-sec-right">
						            <img src="../assets/macbook.png" align="right">
						        </div>
					        </div>
				      	</div>
			    	</div>
			 	</div>
			</section>
			<section id="RG-content-2" class="content-section-middle-top">
				<div class="refer-sec">
				    <div class="container-fluid">
				        <div class="row">
					        <div class="col-sm-6" style="padding-right: 0px">
						        <div id="refer-sec-right">
						            <img src="../assets/page.png" align="right">
						        </div>
					        </div>
					        <div class="col-sm-6">
					            <div id="refr-a-fren" class="box-sec-2">
					            	<h5>Set Up Your Theme</h5>
						            <p> Ea sea perfecto electram voluptatibus. Eum ut commodo atomorum signiferumque. In per invidunt iracundia euripidis, abhorreant disputationi ea est. Et vix reque disputationi consequuntur, et euismod omittam usu. </p>					           
					            </div>
					        </div>					        
				      	</div>
			    	</div>
			 	</div>
			</section>
			<section id="RG-content-3" class="content-section-middle-mid">
				<div class="prom-templ">
					<div class="container">
					   	<div class="divider-sec"></div>						
					  	<div class="row">
						    <div class="col-sm-6">
							    <div class="cont-sec-ref">
							        <div id="promote-prog-sec" class="box-sec-3">
						            	<h5>Promote Your Program</h5>
							            <p> Lorem ipsum dolor sit amet, eu est conceptam adipiscing, ut eos nusquam consequuntur. Ius ullum decore electram eu. Ea sea  </p>					           
						            </div>
							    </div>  
						    </div>
						    <div class="col-sm-6">
						    	<div class="prom-img">
						    		<img src="../assets/Promote_Program.png">
						    	</div>
						    </div>
					  	</div>
					  	<div class="row">
					    	<div class="divider-sec"></div>
					    </div>
					  	<div class="row">
					  		<div class="col-sm-6">
						    	<div class="prom-img">
						    		<img src="../assets/Personal_Referral_Links.png">
						    	</div>
						    </div>
						    <div class="col-sm-6">
							    <div class="cont-sec-ref">
							        <div id="promote-prog-sec" class="box-sec-3">
						            	<h5>Promote Your Program</h5>
							            <p> Lorem ipsum dolor sit amet, eu est conceptam adipiscing, ut eos nusquam consequuntur. Ius ullum decore electram eu. Ea sea  </p>					           
						            </div>
							    </div>  
						    </div>						    
					  	</div>	
					   	<div class="divider-sec"></div>
					</div>
				</div>
			</section>
			<section id="RG-content-4" class="content-section-middle-foot">
				<div class="prom-templ">
					<div class="container">
					   	<div class="divider-sec"></div>												
					  	<div class="row">
						    <div class="col-sm-2"></div>
						    <div class="col-sm-8">
							    <div class="cont-sec-ref">
							        <h2 class="temp-title">
							          Get More Advocates With These Widgets
							        </h2>							        
							    </div>  
						    </div>
						    <div class="col-sm-2"></div>
					  	</div>
					 	<div class="row">
					    	<div class="divider-sec" style="padding: 10px;"></div>
					    </div>
					    <div class="row">
						    <div class="col-sm-4">
						    	<div class="num-sec">
						    		<div class="align-center"><div class="circle-box">1</div></div>
						    		<h5>Referral Widget</h5>
						    		<div class="fancy-divider"></div>
						    	</div>
							    <div id="rg-box-1" class="box-sec">							        
							    </div>
						    </div>
						    <div class="col-sm-4">
						    	<div class="num-sec">
						    		<div class="align-center"><div class="circle-box">2</div></div>
						    		<h5>Rewarding Widget</h5>
						    		<div class="fancy-divider"></div>
						    	</div>
							    <div id="rg-box-2" class="box-sec">							        
							    </div>
						    </div>
						    <div class="col-sm-4">
						    	<div class="num-sec">
						    		<div class="align-center"><div class="circle-box">3</div></div>
						    		<h5>Form Widget</h5>
						    		<div class="fancy-divider"></div>
						    	</div>
							    <div id="rg-box-3" class="box-sec">
							    </div>
						    </div>
					  	</div>
					   	<div class="divider-sec"></div>											  	
					</div>
				</div>
			</section>
			<section id="RG-content-5" class="content-section-middle-foot">
			<app-prefooter></app-prefooter>
		</section>
		</div>  <!-- End: #Content -->
        <!-- Footer --->
       <app-footer></app-footer>
    </div>  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
