<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Refergap is a viral and referral marketing platform to launch ranking competitions, sweepstakes, pre-launch and referral programs.">
	<meta property="og:type" content="referral" />
	<meta property="og:title" content="Refergap" />
	<meta property="og:description" content="Refergap is a viral and referral marketing platform to launch ranking competitions, sweepstakes, pre-launch and referral programs." />
	<meta property="og:site_name" content="Refergap" />
	<meta property="og:image" content="http://refergap.com/images/logo.png" />
	<meta property="og:image:width" content="512" />
	<meta property="og:image:height" content="512" />
	<meta name="twitter:text:title" content="Refergap" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="Visit the post for more." />

	<link href="http://refergap.com/favicon.ico" rel="icon" sizes="32x32" />
	<link href="/favicon.ico" rel="shortcut icon" type="image/ico" />
	<link href="http://refergap.com/favicon.ico" rel="shortcut icon" type="image/ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Latest compiled and minified CSS -->

	<meta name="author" content="DevGap Crew">

	<title>ReferGap</title>

	<!-- Bootstrap core CSS -->
	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	
	<!-- jQuery library -->

	<!-- Latest compiled JavaScript -->
	<script src="js/custom.js"></script>

  </head>
  <body id="page-id-2" class="ReFerGap-how-it-works">
    <div class="main-wrapper">
       <!-- #Tob_bar -->
		<app-header></app-header>
		<!-- Start: .main-header -->
      	<app-main-header2></app-main-header2>
      	<!-- End: .main-header -->
      	<!-- Start: #Content -->
		  <!-- End: #Content -->
        <!-- Footer --->
       <app-footer></app-footer>
    </div>  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
